dicom2nifti>=2.5.1
ipython>=9.0.2
matplotlib>=3.10.1
mlflow>=2.21.0
numpy>=1.26.4
pandas>=2.2.3
pillow>=11.1.0
protobuf>=5.29.3
pydicom>=3.0.1
pynvml>=12.0.0
python-dateutil>=2.9.0.post0
scikit-learn>=1.6.1
scipy>=1.15.2
SimpleITK>=2.4.1
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
tqdm>=4.67.1
transformers>=4.49.0
wandb>=0.19.8
google-cloud-storage>=3.1.0
monai>=1.4.0
ipywidgets>=8.1.5
boto3>=1.38.36
